/* fonts for the task */
/* fira sans */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



/* shared styles */

*{
    background-color: rgba(241, 241, 243, 1);
}

.banner-bg-color{
    background-color: rgba(198, 228, 214, 1);
}

.card-bg-color{
    background-color: rgba(213, 222, 240, 0.2);
}

.card-bg-color-2{
    background-color: rgba(247, 235, 207, 1);
}

.bg-color{
    background-color: white;
}



/* navbar styles */
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 105px;
}

.nav-header{    
    font-family: "Fira Sans", serif;
    font-size: 32px;
    line-height: auto;
    letter-spacing: 0%;
}

.nav-btn{
    width: 116px;
    height: 52px;
    border: 1px solid;
    border-color: rgba(0, 106, 80, 1);
    border-radius: 8px;
    opacity: 100%;
    padding: 15px 30px;
    font-family: "Fira Sans", serif;
    font-size: 17px;
    font-weight: 600;
    color: rgba(0, 106, 80, 1);
    cursor: pointer;
}

.nav-btn:hover{
    background-color: rgba(0, 106, 80, 1);
    color: white;
}



/* banner styles */
#banner{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    height: 500px;
    gap: 64px;
    margin: 20px 105px 80px;
    padding: 50px 100px 80px;
    background-color: rgba(198, 228, 214, 1);
    border-radius: 24px;
}

.banner-text{
    width: 622px;
    height: 326px;
}

.banner-title{
    font-family: "Fira Sans", serif;
    font-size: 24px;
    line-height: auto;
    letter-spacing: 0%;
    font-weight: 600;
    color: rgba(14, 14, 14, 0.5);
}

.banner-title-1{
    font-family: "Fira Sans", serif;
    font-size: 50px;
    line-height: auto;
    letter-spacing: 0%;
    font-weight: bold;
    margin-top: 16px;
}

.banner-btn{
    width: 270px;
    height: 56px;
    border-radius: 8px;
    background-color: rgba(0, 106, 80, 1);
    color: white;
    font-family: "Fira Sans", serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0%;
    border: none;
    cursor: pointer;
}

.banner-btn:hover{
    background-color: rgb(37, 169, 136);
}

/* main styles */
#card{
    width: 1350px;
    margin: auto;
}

.card-header-title{
    font-family: "Fira Sans", serif;
    font-size: 40px;
    font-weight: bold;  
}

.card-header-desc{
    font-family: "Fira Sans", serif;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}


/* card styles */
.card-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 32px 0px;
}

.card-box-1{
    width: 500px;
    height: 280px;
    border-radius: 16px;
    padding: 32px;
    background-color: rgba(84, 144, 245, 0.2);
    /* background-color: rgba(84, 144, 245, 0.2); */
}

.card-box-title{
    font-family: "Fira Sans", serif;
    font-size: 20px;
    font-weight: bold;  
    margin-top: 24px;
}

.card-box-desc{
    font-family: "Fira Sans", serif;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}

.card-desc-subtitle{
    font-family: "Fira Sans", serif;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.6);
}

.card-btn{
    border: none;
    border-radius: 8px;
    width: 122px;
    height: 41px;
    padding: 10px 20px;
    font-family: "Fira Sans", serif;
    color: white;
    font-weight: 600;
    font-size: 14px;
    background-color: rgb(84, 144, 245, 1);
    margin-top: 24px;
    cursor: pointer;
}

.card-btn:hover{
    background-color: rgb(9, 76, 199);
}

.card-box-2{
    width: 500px;
    height: 280px;
    border-radius: 16px;
    padding: 32px;
    background-color: rgba(198, 228, 214, 1);
}

.card-btn-2{
    border: none;
    border-radius: 8px;
    width: 122px;
    height: 41px;
    padding: 10px 20px;
    font-family: "Fira Sans", serif;
    color: white;
    font-weight: 600;
    font-size: 14px;
    background-color: rgba(9, 161, 92, 1);
    margin-top: 47px;
    cursor: pointer;
}

.card-btn-2:hover{
    background-color: rgb(0, 103, 57);
}

.card-box-3{
    width: 500px;
    height: 280px;
    border-radius: 16px;
    padding: 32px;
    background-color: rgba(247, 235, 207, 1);
}

.card-btn-3{
    border: none;
    border-radius: 8px;
    width: 122px;
    height: 41px;
    padding: 10px 20px;
    font-family: "Fira Sans", serif;
    color: white;
    font-weight: 600;
    font-size: 14px;
    background-color: rgba(255, 194, 57, 1);
    margin-top: 48px;
    cursor: pointer;
}

.card-btn-3:hover{
    background-color: rgb(164, 132, 58);
}

.card-description{
    height: 200px;
    width: 1300px;
    border-radius: 16px;
    background-color: white;
    padding: 20px 24px 30px;    
}

.card-box-desc-new{
    font-family: "Fira Sans", serif;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 64px;
    padding-top: 25px;
}

/* main part 2 styles */

#big-card{
    width: 1350px;
    margin: auto;
}


.big-card-box{
    display: block;
    justify-content: center;
    align-items: center;
}

.big-card-box-1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
    gap: 32px;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 24px;
}

.big-card-img{
    height: 290px;
    width: 408px;
    border-radius: 24px;
}


.big-card-header{
    font-family: "Fira Sans", serif;
    font-size: 32px;
    font-weight: bold; 
    margin-top: -5px;
}

.big-card-inside-img{
    height: 40px;
    width: 134px;
    margin-top: -25px;
}

.big-card-desc{
    font-family: "Fira Sans", serif;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}

.big-card-btn{
    width: 139px;
    height: 48px;
    border: none;
    border-radius: 8px;
    padding: 13px 26px;
    background-color: rgba(0, 106, 80, 1);
    color: white;
    font-family: "Fira Sans", serif;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    cursor: pointer;
}

.big-card-btn:hover{
    background-color: rgb(37, 169, 136);
}

.big-card-box-2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
    gap: 32px;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 24px;
}


/* donation box styles */
#donation-box{
    max-width: 1350px;
    height: 550px;
    margin: 80px 160px;
}

.donate-header-title{
    font-family: "Fira Sans", serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.donate-desc{
    font-family: "Fira Sans", serif;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    text-align: center;
}

.donation-amount{    
    display: flex;
    justify-content: center;
    align-items: center;
}

.donate-amount{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.amount{
    width: 200px;
    height: 50px;
    font-family: "Fira Sans", serif;
    font-size: 40px;
    font-weight: bold;
    padding: 40px;
    border-radius: 16px;
    background-color: white;
    text-align: center;
    border: 1px groove;
    border-color: rgba(37, 37, 37, 0.15);
    color: rgba(14, 14, 14, 0.8);
    cursor: pointer;
}

.amount:hover{
    background-color: rgba(198, 228, 214, 1);
}

#second-amount{
    background-color: rgba(198, 228, 214, 1);
}

#second-amount:hover{
    background-color: rgba(241, 241, 243, 1);
}

.donate-text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 17px;
}

.donation-textBox{
    width: 1032px;
    height: 64px;
    align-items: center;
    border: none;
    background-color: white;
}

.donate-text ::placeholder{
    text-align: center;
    font-family: "Fira Sans", serif;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.3);
}

.donation-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.donate-btn{
    width: 168px;
    height: 56px;
    border: none;
    border-radius: 8px;
    padding: 17px 34px;
    background-color: rgba(0, 106, 80, 1);
    color: white;
    font-family: "Fira Sans", serif;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    cursor: pointer;
}

.donate-btn:hover{
    background-color: rgb(37, 169, 136)
}


/* subscribe box styles */
#subscribe-box{
    max-width: 1380px;
    height: 375px;
    margin: 50px 100px;  
    border: none;  
    border-radius: 16px;
    background-color: rgba(198, 228, 214, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px 10px;
}

.sub-description{
    max-width: 622px;
    margin: -15px 64px 24px;
}

.sub-input-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-input-box > div{
    display: inline;
    margin: 0;
    padding: 0;
}

.sub-input{
    width: 600px;
    height: 56px;
    /* align-items: start; */
    border: none;
    border-radius: 8px 0px 0px 8px;
    background-color: white;
}

.sub-btn{
    width: 168px;
    height: 58px;
    border: none;
    border-radius: 0px 8px 8px 0px;
    background-color: rgba(0, 106, 80, 1);
    color: white;
    font-family: "Fira Sans", serif;
    font-size: 18px;
    font-weight: 500;
    margin-left: -4px;
    padding-top: 2px;
    padding-bottom: 5px;
    cursor: pointer;
}

.sub-btn:hover{
    background-color: rgb(37, 169, 136)
}

.banner-bg-color ::placeholder{
    padding-left: 40px;
    font-family: "Fira Sans", serif;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.3);
}